.main {
    padding-top: 90px;
    padding-bottom: 150px;
}

.disablePaddingBottom {
    padding-bottom: 0px !important;
}

@media (max-width: 800px) {
    .main {
        padding-top: 70px;
    }
}

@media (max-width: 480px) {
    .main {
        padding-top: 60px;
    }
}
